<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- PLEASE, DO NOT USE PRODUCTION DATA FOR TESTS. SANDBOX EXISTS FOR THIS PURPOSE -->
    <!-- See our FAQ about end-points: https://github.com/giacomelli/SalesforceSharp/wiki/FAQ. -->
    <!--add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" -->
    <add key="TokenRequestEndpointUrl" value="https://test.salesforce.com/services/oauth2/token"/>

    <!-- Where I can get my client id and client secret? https://github.com/giacomelli/SalesforceSharp/wiki/FAQ -->
    <add key="ClientId" value="3MVG9yZ.WNe6byQAehV8P57wCV8Ey7uJUoarwFy94sdiOhzNsjJ57qCkr1.fZTmdUPfGGTshpVAC533lWm8YR"/>
    <add key="ClientSecret" value="8443064809221728609"/>
    <add key="Username" value="ncta-admin@ncta.com.api.dev"/>

    <!-- If your IP is not in the whitelist, you'll need to append you API security token to the password.  
    	 Go to [your name] > My settings > Personal > Reset My Security Token -->
    <add key="Password" value="Missi0nImp0ssibl3A6UYeAY7fr0Bz0Z5DTHLw8s1c"/>

    <!--- This key is used just for functional tests purposes. 
    It is the name of the object that will be used during tests. -->
    <add key="ObjectName" value="Contact"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
