<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- PLEASE, DO NOT USE PRODUCTION DATA FOR TESTS. SANDBOX EXISTS FOR THIS PURPOSE -->
    <!-- See our FAQ about end-points: https://github.com/giacomelli/SalesforceSharp/wiki/FAQ. -->
    <!--add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token" -->
    <add key="TokenRequestEndpointUrl" value="https://test.salesforce.com/services/oauth2/token"/>

    <!-- Where I can get my client id and client secret? https://github.com/giacomelli/SalesforceSharp/wiki/FAQ -->
    <add key="ClientId" value="3MVG9Gmy2zmPB01opUAAPXZNo1O4dz3O7_u0kwcVBJZExayNm9JFoF17T0q9IquLKuztKrOwXBiMGZ4LAfK5c"/>
    <add key="ClientSecret" value="9008907099479433462"/>
    <add key="Username" value="integration@justgiving.com.jgqa"/>

    <!-- If your IP is not in the whitelist, you'll need to append you API security token to the password.  
    	 Go to [your name] > My settings > Personal > Reset My Security Token -->
    <add key="Password" value="Password02aqH4sYY6Nl2zjnbuCfpDSYyo"/>

    <!--- This key is used just for functional tests purposes. 
    It is the name of the object that will be used during tests. -->
    <add key="ObjectName" value="Contact"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
