<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- PLEASE, DO NOT USE PRODUCTION DATA FOR TESTS. SANDBOX EXISTS FOR THIS PURPOSE -->
    <!-- See our FAQ about end-points: https://github.com/giacomelli/SalesforceSharp/wiki/FAQ. -->
    <add key="TokenRequestEndpointUrl" value="https://login.salesforce.com/services/oauth2/token"/>
    <!-- add key="TokenRequestEndpointUrl" value="https://test.salesforce.com/services/oauth2/token"-->

    <!-- Where I can get my client id and client secret? https://github.com/giacomelli/SalesforceSharp/wiki/FAQ -->
    <add key="ClientId" value="3MVG9l2zHsylwlpSJjOwjFKTIf5vmuM_WkzSt9rfLBnuq1uvaxbOeC.MVq7mxJ4k88Pw8vP1fstsxXSd_iGtU"/>
    <add key="ClientSecret" value="4A55A564732AB23C2CE3785C485359C47E7EEB4B1D80397047D462DC546D874B"/>
    <add key="Username" value="salesforcesharp@gmail.com"/>

    <!-- If your IP is not in the whitelist, you'll need to append you API security token to the password.  
    	 Go to [your name] > My settings > Personal > Reset My Security Token -->
    <add key="Password" value="Z]6c7qpw/TN-zr>.6Z{?f~_tW-9F\(`\k2u.MQEuu3\RH?L~jZrX7pjLjPvTm35USBpt0GksFX4"/>

    <!--- This key is used just for functional tests purposes. 
    It is the name of the object that will be used during tests. -->
    <add key="ObjectName" value="User"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
