<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthorizeUrl" value="https://login.salesforce.com/services/oauth2/token"/>
    <add key="ClientId" value=""/>
    <add key="ClientSecret" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="ObjectName" value=""/>
  </appSettings>
</configuration>