<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- PLEASE, DO NOT USE PRODUCTION DATA FOR TESTS. SANDBOX EXISTS FOR THIS PURPOSE -->
    <add key="TokenRequestEndpointUrl" value="https://test.salesforce.com/services/oauth2/token"/>
    <add key="ClientId" value=""/>
    <add key="ClientSecret" value=""/>
    <add key="Username" value=""/>

    <!-- If your IP is not in the whitelist, you'll need to append you API security token to the password (Setup > Personal Setup > My Personal Information > Reset My Security Token) -->
    <add key="Password" value=""/>

    <add key="ObjectName" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
